.o_cb_maintenance.o_list_view .o_list_table {
    .text-danger {
        color: $table-color !important;
        background-color: #ffefef;
    }
    .text-success {
        color: $table-color !important;
        background-color: #e2ffe6;
    }
    .text-info {
        color: $table-color !important;
        background-color: #e2f0ff;
    }
}
